/* #box {
    background-color: blue;
}
.heading {
    color: rgb(255,0,0);
}
button {
    background-color: green;
}
h1 {
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family:'Times New Roman';
}
#inner {
    font-size: 10px;
}
#outer {
    font-size: 25px;
} */
/* div {
    height: 100px;
    width: 100px;
    border-width: 100px;
    /* border-radius: 50%;
    background-color: #00ff00;
    border-color: brown; */
    /* text-align: center;
    font-size: large;
    text-transform:initial;
    text-decoration: dashed; */
  
/* 
* {
    margin: 0;
    padding: 0;
    color: aliceblue;
}
div {
    background-color:#0f1111 ;
    height: 60px;
}
#logo {
    font-size: 25px;
    color: #f08804;
}

button {
    background-color: #f08804;
}
a {
    margin-right: 200px;
    text-decoration: none;
} */

/* div {
    height: 100px;
    width: 100px;
    background-image: url("chidhood 2 image.jpg");
    background-size: cover;
    color: brown;
    font-weight: bolder;
    position: sticky;
    right: 0px;

} */
/* div {
    background-color: rgb(32, 117, 117);
    display: flex;
    justify-content:space-evenly;
 }
a {
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
}
li {
    list-style-type:none;
    display: inline;
    justify-content: space-evenly;
} */
 /* ul {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    
 }
 a {
     color: black;
    text-decoration: none;
    background-color:darkgoldenrod;

    
 }
 li {

    list-style-type: none; } */


/* div {
      border: 2px solid black;
      background-color: chocolate;
      height: 100px;
      width: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
    /* animation-name: muskan;
    animation-duration: 10s;
    animation-timing-function:5px;
    animation-delay: 5s;
    animation-iteration-count: 1; */
    /* animation: muskan 10s ease-in 0s infinite normal;
}

@keyframes muskan {
     0% {left: 0px;
    background-color: aqua;}
    50% {background-color: blue;}
     100% {left: 200px;
    background-color: bisque;}
} */ 

      /* transition-property: all;
    transition-duration: 2s;
      transition-timing-function: steps(3); */
      /* transition: all 2s ease-in-out 0.2s; */
      /* transform: rotate(360deg); */
      /* rotate:  z 90deg; */
      /* transform: scale(2,2); */
      /* transform: skew(80deg); */

/* div:hover {
    background-color: red;
    font-size: large;
    color: white; */

/* div:active {
    background-color: blueviolet; */

       /* display: flex;
     justify-content: center;
     align-items: center;     */
/* }
@media (max-width:300px){
    div {
        background-color: green;
    }
}
@media (min-width:300px)and (max-width:400px){
    div {
        background-color: pink;
    }
}
@media (min-width:400px)and (max-width:600px){
    div {
        background-color: red;
    }
}
@media (min-width:600px)and (max-width:700px){
    div {
        background-color: yellow;
    }
}
@media (min-width:700px){
    div {
        background-color: blue;
    }
} */
.navbar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid  black;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    animation: spin 2s ease-in 0s infinite normal;
 }

 @keyframes spin {
    from { 
         transform: rotate(0deg);
         }
    to {
        transform: rotate(360deg);
     }
 }
